[D-BUS Service]
Name=org.freedesktop.Anaconda.Boss
# Prevent autoactivation out of systemd
#Exec=/bin/false
Exec=/usr/sbin/anaconda-boss
User=root
#SystemdService=dbus-org.freedesktop.Anaconda.Boss.service
