[D-BUS Service]
Name=org.freedesktop.Anaconda.Module.Payload
Exec=/usr/sbin/anaconda-module-payload
User=root
#SystemdService=dbus-org.freedesktop.Anaconda.Module.Payload.service
