[D-BUS Service]
Name=org.freedesktop.Anaconda.Boss
# Prevent autoactivation out of systemd
#Exec=/usr/sbin/anaconda-boss
Exec=/bin/false
User=root
SystemdService=dbus-org.freedesktop.Anaconda.Boss.service
